@media only screen and (min-width: 64em) {




     footer {
            max-width: 100%;
            font-size: 1.75rem;
            justify-content: space-evenly;
            padding: 1.5rem;
          }

}