* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 500px;
  }
  
  header {
    margin: 1rem auto;
    border: 1px solid #bbb;
    padding: 3rem;
    background-color: #eee;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    max-width: 100%;
  }
  
  header img {
    width: 50%;
    height: auto;
    display: block;
  }
  
  header h1 {
    padding: 1rem;
    justify-items: center;
    align-items: center;
    font-family: "Water Brush", cursive;
    font-size: 1.5em;
  }
  footer {
    margin: 1rem auto;
    border: 1px solid #bbb;
    padding: 0.5rem;
    background-color: #eee;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    font-family: "Ubuntu Condensed", sans-serif;
    font-size: 1.5em;
    max-width: 100%;
  }
  body main {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;

    
    

 
  }
  main p {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 1em;
    max-width: 70%;
    padding: 1.5em;
    align-items: center;
  }
  h2 {
    align-items: center;
    font-family: "Playfair Display SC", serif;
    font-size: 1.5em;
  }