@media screen and (min-width: 900px) {
  .nav-list {
    display: block !important;
  }
}
.widget {
  display: none;
}
.favSpotlight {
  font-size: 3rem;
}
.favTempleName {
  font-size: 5rem;
}
.favInfo,
.favInfo3 {
  font-size: 2rem;
}
.favInfo2 {
  font-size: 2rem;
}
article {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}
.servicesSection {
  margin: 25px;
}
.Inn,
.Hall,
.Center,
.Play {
  margin: 25px;
}
