html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --heading2a: "Euphoria Script", cursive;
  --kids: "Henny Penny", cursive;
  --heading2b: "Julius Sans One", sans-serif;
  --para: "Montserrat", sans-serif;
  --title_b: "The Nautigal", cursive;
  --title_a: "Tangerine", cursive;
  --warmBLK: #2d3c3f;
  --pinkGRY: #d8d2cd;
  --greenGRY: #79858b;
  --lightGRY: #99a5a8;
  --blueGRY: #919cac;
  --oldGold: #bfab25;
  --cinereous: #93827f;
}
body {
  max-width: 100%;
}
/*nav*/
/*header {
  display: flex;
  flex-direction: row;
}*/
h1 {
  font-family: var(--title_a);
  font-size: 3rem;
}
nav ul {
  font-family: var(--para);
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav ul li a,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  color: white;
  background-color: #034748;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover,
.navigation a:hover {
  color: white;
  background-color: #034748;
}

/*.responsive li {
  display: block;
}
.responsive a.ham::before {
  content: &#x2612;
}*/
/*end nav*/
.currentdate {
  font-family: var(--para);
  font-size: 2rem;
  padding: 10px;
}

/*footer*/
footer {
  text-align: center;
  width: 100%;
  background-color: #262626;
  color: white;
}
footer h3 {
  font-size: 3rem;
  font-family: var(--title_a);
  color: white;
}
footer p {
  color: white;
  font-family: var(--para);
}

/*end footer*/
/*index page*/
.main-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 10px;
}
.weather {
  grid-row: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background-color: var(--greenGRY);
  box-shadow: 13px 13px 30px black;
  max-width: 50%;
}
.weather img {
  display: block;
  grid-row: 3;
  max-width: 100%;
  border: inset 5px var(--lightGRY);
  padding: 5px;
  background-color: #99a5a8;
  margin-bottom: 15px;
}
.weather p {
  font-family: var(--para);
  font-size: 17px;
  padding: 5px;
  margin-bottom: 0;
}
.favTempleName {
  font-family: var(--title_a);
  font-size: 4rem;
  margin-bottom: 0;
}

.favTemplePic {
  box-shadow: 13px 13px 30px black;
  float: right;
  margin: 2rem;
  width: 50%;
}
.favTemple_container {
  background-color: var(--pinkGRY);
  padding: 10px;
  box-shadow: 13px 13px 30px black;
  grid-row: 2;
  max-width: 100%;
  margin-bottom: 20px;
}
.favInfo,
.favInfo3 {
  font-family: var(--para);
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 20px;
}
.favInfo2 {
  font-family: var(--heading2b);
  margin-left: 20px;
}
.favSpotlight {
  font-family: var(--heading2b);
}
/*end index page*/
/*temple page*/
.temple_main-container {
  display: flex;
}
.templeName {
  font-family: var(--title_a);
  font-size: 3rem;
}
.tempPic {
  display: block;
  width: 100%;
  margin: 5px;
}
.temples_section {
  display: block;
  max-width: 100%;
  margin: 20px;
  padding: 10px;
  box-shadow: 13px 13px 30px black;
}
.addy,
.city,
.phone,
.date {
  margin: 0;
  padding: 0;
}
div #message {
  font-family: var(--para);
  color: white;
}
/*end temple page*/
/*reservation form*/
.resHeading {
  font-family: var(--heading2b);
  margin-left: 55px;
}
.resH3 {
  margin-left: 20px;
}
legend {
  font-family: var(--para);
  padding: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  background-color: white;
  border: solid 2px black;
}
input {
  margin: 2px;
  padding: 2px;
}
fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 20px;
  margin-bottom: 40px;
  padding: 10px;
  background-color: var(--blueGRY);
  box-shadow: 11px 13px 10px black;
}
form {
  max-width: 40%;
  margin-left: 20px;
}
.req {
  border-right-color: red;
  border-right-width: 3px;
}
.form {
  margin-left: 30px;
}
label {
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: bold;
}
textarea {
  background-color: var(--pinkGRY);
  box-shadow: 3px 5px 8px 0px black;
}
#btnSubmit {
  margin: 10px;
  padding: 5px;
  box-shadow: 3px 5px 8px 0px black;
  background-color: var(--pinkGRY);
  font-weight: bold;
}
