html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --heading2a: "Euphoria Script", cursive;
  --kids: "Henny Penny", cursive;
  --heading2b: "Julius Sans One", sans-serif;
  --para: "Montserrat", sans-serif;
  --title_b: "The Nautigal", cursive;
  --title_a: "Tangerine", cursive;
  --warmBLK: #2d3c3f;
  --pinkGRY: #d8d2cd;
  --greenGRY: #79858b;
  --lightGRY: #99a5a8;
  --blueGRY: #919cac;
  --oldGold: #bfab25;
  --cinereous: #93827f;
}
body {
  max-width: 100%;
}
/*nav*/
/*header {
  display: flex;
  flex-direction: row;
}*/
h1 {
  font-family: var(--title_a);
  font-size: 3rem;
}
nav ul {
  font-family: var(--para);
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav ul li a,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  color: white;
  background-color: #034748;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover,
.navigation a:hover {
  color: white;
  background-color: #034748;
}

/*.responsive li {
  display: block;
}
.responsive a.ham::before {
  content: &#x2612;
}*/
/*end nav*/
.currentdate {
  font-family: var(--para);
  font-size: 2rem;
}

/*footer*/
footer {
  text-align: center;
  width: 100%;
  background-color: #262626;
  color: white;
}
footer h3 {
  font-size: 3rem;
  font-family: var(--title_a);
  color: white;
}
footer p {
  color: white;
  font-family: var(--para);
}

/*end footer*/

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  margin-left: 10px;
  justify-items: center;
}
.currentdate {
  padding: 10px;
}
.weather {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  background-color: var(--greenGRY);
  box-shadow: 13px 13px 30px black;
  max-width: 75%;
}
.weather img {
  display: block;
  grid-row: 3;
  max-width: 100%;
  border: inset 5px var(--lightGRY);
  padding: 5px;
  background-color: #99a5a8;
}
.weather p {
  font-family: var(--para);
  font-size: 17px;
  padding: 5px;
}
.temple_main-container {
  display: flex;
}
.templeName {
  font-family: var(--title_a);
  font-size: 3rem;
}
.tempPic {
  display: block;
  width: 100%;
  margin: 5px;
}
.temples_section {
  display: block;
  max-width: 100%;
  margin: 20px;
  padding: 10px;
  box-shadow: 13px 13px 30px black;
}
.addy,
.city,
.phone,
.date {
  margin: 0;
  padding: 0;
}
div #message {
  font-family: var(--para);
  color: white;
}
