@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

:root {
    --cinereous: #93827fff;
    --warm-black: #034748ff;
    --old-gold: #bfab25ff;
    --barn-red: #6f1a07ff;
    --powder-blue: #b5d6d6ff;
}

body {
    font-size: 16px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

header,
main,
footer {
    margin: 1rem;
    position: relative;
}

h1 {
    color: #000;
    border-bottom: 1px solid #eee;
    text-shadow: 0 0 15px #999;
    width: 60%;
}

h2 {
    color: blue;
    margin: 0;
    grid-column: 2;
}


p {
    margin: 0 5 0 5;
}

main {
    margin-left: 2rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

section {
    margin: 0.25rem;
    padding: 0.35rem;
    background-color: #fff;
    border: 1px solid #bbb;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: flex-end;
}

section>p {
    min-height: 60px;
    box-shadow: 0 0 30px #777;
    padding: 7px;
    grid-column: 2;
    align-items: flex-end;


}

img {
    grid-column: 1;
    width: auto;
    max-width: 325px;
    box-shadow: 0 0 30px #777;
    height: 200px;
    border: 1px solid #333;
    justify-items: end;
    margin-left: 25px;
}


footer {
    border-top: 1px solid #555;
    padding: 20px;
}

.caption {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    border: 1px solid #ccc;
    background-color: lightyellow;
    padding: 0.25rem;
    display: grid;
    align-items: center;
    grid-template-columns: 1rem 1fr;
}