@media only screen and (min-width: 35rem) {
  nav button {
    display: none;
  }

  nav ul#primaryNav {
    display: flex;
   
    border-left: 1px solid rgba(0, 0, 0, 0.3);
  }

  nav ul li a {
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
  }
  nav ul li img {
    max-width: 30px;
    max-height: 30px;
    padding: 5px;
  }
  main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  
  }
  /*.hero {
    background-color: #bbb;
    width: 50%;
    height: 300px;
    border: 1px solid #000;
    padding: 1.5rem;
    box-shadow: 0 0 30px #333;
  }
  .news {
    background-color: #bbb;
    width: 50%;
    height: 300px;
    border: 1px solid #000;
    padding: 1.5rem;
    box-shadow: 0 0 30px #333;
  }
  .events{
    background-color: #bbb;
    width: 50%;
    height: 300px;
    border: 1px solid #000;
    padding: 1.5rem;
    box-shadow: 0 0 30px #333;
  
  }
  
  .weather {
    background-color: #bbb;
    width: 50%;
      height: 300px;
      border: 1px solid #000;
      padding: 1.5rem;
      box-shadow: 0 0 30px #333;
  }
  
  .join {
    background-color: #bbb;
    width: 50%;
    height: 300px;
    border: 1px solid #000;
    padding: 1.5rem;
    box-shadow: 0 0 30px #333;
  }*/
}