@media only screen and (min-width: 35rem) {

  /*:root {
    --cinereous: #93827f;
    --warmBlack: #034748;
    --oldGold: #bfab25;
    --barnRed: #6f1a07;
    --powderBlue: #b5d6d6;
    --red: #c1292e;
    --blue: #7fc8f8;
    --yellow: #f8f4a6;
    --navBlue: #094d92;
    --navMedBlue: #053364;
    --navDarkBlue: #011936;
      --secondtitles: 'Cinzel',
      serif;
      --titles: 'Lobster',
      cursive;
      --regletters: 'Playfair Display',
      serif;
  }*/
  header {

    max-width: 100%;
  }




  h4 {
    font-family: var(--regletters);
    font-size: larger;
    margin-left: 1.5em;
  }

  h3 {
    font-size: x-large;
    margin-left: 1em;
  }

  .headerflex {
    display: flex;
    flex-direction: row;
  }

  .navigation {
    display: flex;
  }

  .navigation li {
    display: block;
    flex: 1 1 auto;
  }

  .navigation a {
    text-align: center;
    color: white;
  }

  .navigation li:first-child {
    display: none;
  }

  /* unvisited link */
  a:link {
    color: white;
  }

  /* visited link */
  a:visited {
    color: white;
  }

  /* mouse over link */
  a:hover {
    color: white;
    box-shadow: 0 0 50px #333;
  }

  /* selected link */
  a:active {
    color: white;
  }

  .norm:hover {
    box-shadow: 0 0 50px #333;
  }

  main .discoverGrid {
    grid-auto-flow: inherit;

  }
}