@media only screen and (min-width: 35rem) {
  nav button {
    display: none;
  }

  nav ul#primaryNav {
    display: flex;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
  }

  #primaryNav {
    justify-content: center;
  }

  nav ul li a {
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
  }

  nav ul li img {
    max-width: 30px;
    max-height: 30px;
    padding: 5px;
  }

  main section {
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
    justify-items: stretch;
  }


  main div.hero {
    grid-column: 2/3;
    grid-row: 1;

  }

  main div.hero picture.town {
    max-width: 100%;
  }

  h3.welcometitle {
    grid-column: 1/3;

  }

  .news {
    grid-column: 1/3;

  }

  .join {
    grid-column: 1/3;
  }

  .events {
    grid-column: 1/2;
  }

  .weather {
    grid-column: 2/3;
  }

  /* unvisited link */
  a:link {
    color: #f8f4a6;
  }

  /* visited link */
  a:visited {
    color: #7fc8f8;
  }

  /* mouse over link */
  a:hover {
    color: #c1292e;
  }

  /* selected link */
  a:active {
    color: #f8f4a6;
  }
}