html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

:root {
  --cinereous: #93827f;
  --warmBlack: #034748;
  --oldGold: #bfab25;
  --barnRed: #6f1a07;
  --powderBlue: #b5d6d6;
  --red: #c1292e;
  --blue: #7fc8f8;
  --yellow: #f8f4a6;
  --navBlue: #094d92;
  --navMedBlue: #053364;
  --navDarkBlue: #011936;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  max-width: 100%;
  background-color: #bfab25;

}

/*header*/
header {
  background-color: #094d92;
  border: 1px solid #094d92;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  align-items: center;
  justify-items: center;
}

header figure.logo {
  grid-column: 1/2;
  grid-row: 1/2;
  margin: 0;
}

.headerflex {
  display: flex;
  flex-direction: column;
}

.fblogo {

  margin: 0;

  margin-left: 10px;
}

header figure.linklogo {

  margin: 0;
  padding: .5rem;

}

header h1 {

  font-family: "Lobster", cursive;
  font-size: 2rem;
  color: #fff;
  margin-left: 1.5rem;
}

h2 {
  color: #536878;
  font-family: "Cinzel", serif;
}

div.currentdate {

  font-family: "Playfair Display", serif;
  color: black;
  font-size: 2rem;
  text-align: center;
}



/*navigation area*/
nav.indexdiv {
  background-color: #011936;
  margin: 0 auto;
  max-width: 100%;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
}

nav ul {
  list-style-type: none;
}

h3 {
  color: black;
  font-family: "Cinzel", serif;
}

nav button {
  margin: 0.2rem 2vw;
  background: transparent;
  border: none;
  font-size: 2rem;
  color: #555;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  font-family: "Cinzel", serif;
  font-size: 2rem;
  background: linear-gradient(90deg, transparent, #c1292eff, transparent) top / var(--navMedBlue, 0) 10px no-repeat;
  transition: 0.5s;
}

nav ul li.active a {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
}

nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

nav ul {
  display: none;
}

nav ul.open {
  display: block;
}

button#hamburgerBtn span:nth-child(1) {
  display: block;
}

button#hamburgerBtn span:nth-child(2) {
  display: none;
}

button#hamburgerBtn.open span:nth-child(1) {
  display: none;
}

button#hamburgerBtn.open span:nth-child(2) {
  display: block;
}

/*nav area*/
/*main section*/
main section {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 5px;
}

main p {
  font-family: 'Playfair Display',
    serif;
  font-size: 1.5rem;
  padding: 1em;
  margin-left: 2%;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h3.welcometitle {
  font-family: "Lobster", cursive;
  color: #094d92;
  font-size: 2rem;
  grid-row: 1;

}

main figure.town {

  box-shadow: 0 0 10px #6f1a07;
  grid-row: 2;

}

main figure.town img {

  border: 1px solid #000;
  box-shadow: 0 0 15px rgb(71, 55, 55);

}

main figure.companyOne img {
  max-width: 100%;

  border: 1px solid #000;
  box-shadow: 0 0 15px rgb(71, 55, 55);
}

main figure.contact img {
  border: 1px solid #000;
  box-shadow: 0 0 15px rgb(71, 55, 55);
}

.news {

  border: 1px solid black;
  box-shadow: 0 0 10px #6f1a07;
  grid-row: 3;
  background-color: #93827f;
}

.secTitles {
  position: relative;
  text-align: center;
}

.events {
  display: flex;
  flex-direction: column;

  background-color: #93827f;
  border: 1px solid #000;
  box-shadow: 0 0 10px #6f1a07;
}

/*weather tile*/
.weather {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: #b5d6d6;
  border: 1px solid #000;
  box-shadow: 0 0 10px #6f1a07;
  color: black;
  font-size: xx-large;
}

.crisis {
  border: 2px solid black;
  box-shadow: 0 0 15px #555;
}

.temp,
.speed,
.chill {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: black;
}

.temp {
  font-size: larger;
  border-bottom: 3px solid rgb(71, 55, 55);
}

/*weather tile*/
.join {

  background-color: #93827f;
  border: 1px solid #000;
  box-shadow: 0 0 10px #6f1a07;
}

.spotlight {

  background-color: #93827f;
  border: 1px solid #000;
  box-shadow: 0 0 10px #6f1a07;
}

.spotlightCommunity {
  background-color: #93827f;
}

.spotlightHistory {
  background-color: #93827f;
}

/*main*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/*form*/

section#form {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.formid {

  margin: 0;
  border: 1px solid #bbb;
  padding: 0.5rem;
  width: 475px;
  background-color: #abe;
}

form {
  display: grid;
  grid-gap: 0.25rem;
  grid-template-columns: 1fr 1fr;
  width: 425px;
  align-items: center;
}

form h1 {
  font-size: 1.5rem;
  text-align: center;
}

label,
input,
textarea,
select,
button {
  padding: 0.35rem;
  font-size: 1.1rem;
}

label {
  text-align: right;
}

input:focus,
textarea:focus,
select:focus {
  background-color: #bed;
}

#message {
  display: none;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #aa3333;
  color: #fff;
  padding: 0.5rem;
}

#message,
button {
  grid-column: 1/3;
}

#keyphrase:invalid {
  background-color: lightcoral;
  animation: shaketext 500ms;
}

input:valid+input::before {
  content: "👍🏼";
}

@keyframes shaketext {
  25% {
    transform: translateX(3px);
  }

  50% {
    transform: translateX(-3px);
  }

  75% {
    transform: translateX(3px);
  }
}

/* form */
/*footer area*/
footer {
  background-color: #094d92;
  border: 1px solid #094d92;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer p {
  color: #fff;
  font-family: "Lobster", cursive;
  font-size: 2rem;
}

footer div {
  font-family: "Playfair Display", serif;
  color: #fff;
  font-size: 1.25rem;
}

.rname .projname {
  font-size: 1rem;
  font-family: "Playfair Display", serif;
}

/*footer*/
/*discover page*/
main.discoverGrid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.church img {
  border: 2px solid black;
  box-shadow: 0 0 15px #555;
}

.snowday img {
  border: 2px solid black;
  box-shadow: 0 0 15px #555;
}

/*discover page*/