html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

:root {
  --cinereous: #93827f;
  --warmBlack: #034748;
  --oldGold: #bfab25;
  --barnRed: #6f1a07;
  --powderBlue: #b5d6d6;
  --red: #c1292e;
  --blue: #7fc8f8;
  --yellow: #f8f4a6;
  --navBlue: #094d92;
  --navMedBlue: #053364;
  --regletters: "Playfair Display", serif;
  --secondtitles: "Cinzel", serif;
  --titles: "Lobster", cursive;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  max-width: 100%;
  background-color: var(--cinereous);
}

/*header*/
header {
  background-color: var(--warmBlack);
  border: 1px solid #094d92;
  display: flex;
  flex: auto;
  align-items: center;
  justify-items: center;
}

header figure.logo {
  max-width: 100%;
  display: block;
}

h1 {
  font-size: 2rem;
  font-family: var(--titles);
  color: white;
}

h2 {
  color: #536878;
  font-family: "Cinzel", serif;
}

div.currentdate {
  font-family: "Playfair Display", serif;
  color: black;
  font-size: 2rem;
  text-align: center;
}

/*navigation area*/
/*nav#navForm,
nav#indexdiv */
nav {
  background-color: var(--warmBlack);
  margin: 0 auto;
  max-width: 100%;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
}

.navigation {
  list-style: none;
  padding: 0;
}

.navigation li:first-child {
  display: block;
}

.navigation li {
  display: none;
}

.navigation a {
  display: block;
  padding: 0.75rem;
  text-align: left;
  text-decoration: none;
  color: white;
  transition: 0.5s;
  font-family: "Cinzel", serif;
  background: linear-gradient(90deg, transparent, var(--cinereous), transparent)
    top / var(--warmBlack, 0) 10px no-repeat;
}

/*.navigation a.ham::before {
  content: &#9776;
}*/

.navigation a:hover {
  color: black;
  background-color: #034748;
}

.responsive li {
  display: block;
}

/*.responsive a.ham::before {
  content: &#x2612;
}*/

/*nav area*/
/*main section*/
main section {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2em;
}

main p {
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  padding: 1em;
  margin-left: 2%;
}

.hero {
  grid-row: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h3.welcometitle {
  font-family: "Lobster", cursive;
  color: var(--warmBlack);
  font-size: 3em;
  text-shadow: var(--warmBlack);
}

figure.town {
  box-shadow: 0 0 30px black;
}

figure.town img {
  max-width: 100%;
  display: block;
  border: 1px solid #000;
  box-shadow: 0 0 15px black;
}

main figure.companyOne img {
  max-width: 100%;

  border: 1px solid #000;
  box-shadow: 0 0 15px black;
}

main figure.contact img {
  border: 1px solid #000;
  box-shadow: 0 0 25px black;
}

.news {
  border: 1px solid black;
  box-shadow: 0 0 30px black;
  grid-row: 3;
  background-color: var(--cinereous);
}

.secTitles {
  position: relative;
  text-align: center;
}

.events {
  display: flex;
  flex-direction: column;

  background-color: #93827f;
  border: 1px solid #000;
  box-shadow: 0 0 30px black;
}

/*weather tile*/
.weather {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--powderBlue);
  border: 1px solid #000;
  box-shadow: 0 0 30px black;
  color: black;
  font-size: xx-large;
}

.crisis {
  border: 2px solid black;
  box-shadow: 0 0 15px black;
}

.temp,
.speed,
.chill {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: black;
}

.temp {
  font-size: larger;
  border-bottom: 3px solid rgb(71, 55, 55);
}

/*weather tile*/
.join {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #93827f;
  border: 1px solid #000;
  box-shadow: 0 0 30px black;
}

.spotlight {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #93827f;
  border: 1px solid #000;
  box-shadow: 0 0 30px black;
}

.spotlightCommunity {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 30px black;
  border: 1px solid #000;
}

.spotlightCommunity h4 {
  font-size: x-large;
}

.spotlightHistory {
  background-color: var(--powderBlue);
  box-shadow: 0 0 30px black;
  border: 1px solid #000;
}

.voting {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 30px black;
  border: 1px solid #000;
  background-color: var(--cinereous);
}

.votes {
  display: block;
  max-width: 100%;
  border: 2px solid black;
  box-shadow: 0 0 15px black;
}

.voting h4 {
  font-family: var(--regletters);
  font-size: x-large;
}

/*main*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*form*/

section#form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

div.formid {
  margin: 0;
  border: 1px solid black;
  padding: 0.5rem;
  width: 500px;
  background-color: var(--warmBlack);
  box-shadow: 0 0 30px black;
  margin-bottom: 1em;
}

form {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
}

form h2 {
  font-size: 1.5rem;
  text-align: center;
}

div.formid h2 {
  font-family: var(--regletters);
  color: white;
  margin-left: 5px;
}

.your {
  display: block;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  padding-right: 2rem;
}

.business {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding-right: 2rem;
}

label,
input,
select,
button {
  padding: 0.35rem;
  font-size: 1.1rem;
}

input {
  border: 2px solid rgba(0, 0, 0, 0.2);
}

label {
  text-align: right;
  color: white;
  padding: 2px;
}

input:focus,
textarea:focus,
select:focus {
  background-color: var(--oldGold);
  color: white;
}
.comProfile {
  display: block;
  margin-left: 1em;
}
legend {
  color: white;
  font-size: 1.5rem;
}
#message {
  display: none;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
  color: #fff;
  padding: 0.5rem;
}
.req {
  border-left-color: #c1292e;
  border-left-width: 3px;
}
.membershipLevels {
  color: white;
  font-size: 1.8rem;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.1em black;
  margin-left: 1.5em;
}
aside {
  background-color: lightslategray;
  border-color: black;
  border: 2px solid;
  box-shadow: 0 0 30px black;
}
#message,
button {
  grid-column: 1;
}

#keyphrase2:invalid {
  background-color: var(--barnRed);
  animation: shaketext 500ms;
}

input:valid + input::before {
  background-color: var(--oldGold);
}

@keyframes shaketext {
  25% {
    transform: translateX(3px);
  }

  50% {
    transform: translateX(-3px);
  }

  75% {
    transform: translateX(3px);
  }
}

/* form */
/*thank you page*/
h2.thankyou {
  display: block;
  font-family: var(--titles);
  font-size: 6rem;
  color: white;
  border-style: double;
  border-color: black;
  text-shadow: 1px 1px 2px black, 0 0 1em grey, 0 0 0.2em darkgray;
  text-align: center;
}

/*footer area*/
footer {
  background-color: var(--warmBlack);
  border: 1px solid var(--warmBlack);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: white;
  font-family: var(--titles);
  font-size: 2rem;
}

.infoSite,
.rname,
.projname,
#lastModified {
  font-family: var(--regletters);
  color: #fff;
  font-size: 1.25rem;
}

footer div,
.copyrightdate {
  font-family: var(--regletters);
  color: #fff;
  font-size: 1.25rem;
}

/*footer*/
/*discover page*/
main.discoverGrid {
  display: grid;
  justify-items: center;
}

.church img {
  display: block;
  max-width: 100%;
  border: 2px solid black;
  box-shadow: 0 0 15px black;
}

.snowday img {
  display: block;
  max-width: 100%;
  border: 2px solid black;
  box-shadow: 0 0 15px black;
}

.message {
  font-size: x-large;
  font-family: var(--regletters);
  text-align: center;
}

.blur {
  filter: blur(1px) grayscale(75%);
}

.stores img {
  display: block;
  max-width: 100%;
  border: 2px solid black;
  box-shadow: 0 0 15px black;
}

.clocktower img {
  display: block;
  max-width: 100%;
  border: 2px solid black;
  box-shadow: 0 0 15px black;
}

.historytitle {
  margin-left: 1em;
}

article.history {
  border-width: 3px;
  background-color: white;
  border: 2px solid black;
  box-shadow: 0 0 15px black;
}

.park img {
  display: block;
  max-width: 100%;
  border: 2px solid black;
  box-shadow: 0 0 15px black;
}

/*discover page*/
.discoveryMain {
  margin: 0 auto;
  border: 1px solid black;
  padding: 0.5rem;
  max-width 700px;
  background-color:#536878;
  font-family: var(--regletters);
}
.menu { 
  margin: 1rem auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  background-color: #93827f;
  text-align:center;
}
.menu button {
  padding: 1rem;
}
article, .directSection {
  margin: 0.75rem;
}
.directSection {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  background-color:#034748;
}
.grid { display: grid;
grid-template-columns: autofit, minmax(200px, 1fr);
align-items: center;}

.list { display: flex;
flex-direction: column;}

.list section {display: flex;
align-items: center;}
.grid section {flex-direction: column;
text-align: center;}
.grid section > * {
	margin: 0.1rem;
}

.list section {
	flex-direction: row;
	justify-content: left;
}
.list section > * {
	margin: 0 1rem;
	text-align: left;
}

.list section img {
	display: none;}

  section h3 {
	font-size: 1.5rem;
}

section a {
	font-family: var(--regletters);
	font-size: 0.9rem;
}

img {
	height: 75px;
	max-width: 100%;}