@charset "UTF-8"; 
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	font-family: "Sansita", Ubuntu, sans-serif;
}

header,
footer {
	background-color: #094d92;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	border: 1px solid #094d92;
}

header,
main,
footer {
	max-width: 767px;
	margin: 0 auto;
}
h1 {
    font-family: 'Lobster', cursive;
	font-size: 1.1rem;
	color: #fff;
}
h2 {
	color: #536878;
}

nav {
	background-color: #011936;
	margin: 0 auto;
	max-width: 780px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
}
nav ul {
	list-style-type: none;
	overflow: hidden;
}
nav ul li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
	background: linear-gradient(90deg, transparent, #f8f4a6, transparent) top /
		var(--d, 0) 10px no-repeat;
	transition: 0.5s;
}

.active {
	color: #f8f4a6;
}
main {
	display: grid;
	grid-template-columns: 1fr;
	font-size: 0.8rem;
}
main article {
	margin: 1rem;
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 1rem;
	background-color: #eee;
}

main article ul {
	margin: 1rem 0 0 1rem;
}
main picture {
	display: none;
	margin: 1rem;
}

footer p {
	padding: .5rem;
	color: #fff;
}
/*color palette
--fire-engine-red: #c1292eff;
--light-sky-blue: #7fc8f8ff;
--green-yellow-crayola: #f8f4a6ff;
--yale-blue: #094d92ff;
--prussian-blue: #053364ff;
--oxford-blue: #011936ff;*/


